
.btn1{
  background-color: grey;
  width: 200px;
  font-size: 25px;
  margin: 25px;
  padding: 25px;
}
.btn2{
  background-color: rgb(102, 155, 253);
  width: 200px;
  font-size: 25px;
  margin: 25px;
  padding: 25px;
}
.btn3{
  background-color: greenyellow;
  width: 200px;
  font-size: 25px;
  margin: 25px;
  padding: 25px;
}
.no{
  border: solid 3px black;
  width: 500px;
  text-align: center;
  margin-left: 200px;
  font-size: 25px;
  padding: 25px;
}

.presion{
  border: solid 3px black;
  width: 500px;
  text-align: center;
  margin-left: 200px;
  font-size: 25px;
  padding: 25px;
  text-align: center;
  
}