<div class="botones">
  <button  class="btn1"     (click)="btn1()">BOTON-1</button>
  <button  class="btn2"   (click)="btn2()">BOTON-2</button>
  <button   class="btn3"  (click)="btn3()">BOTON-3</button>
</div>

<div [ngSwitch]="valorNumerico">
  <div  class="no" *ngSwitchCase="0">NINGUN BOTON HA SIDO PRESIONADO</div>
  <div   class="presion"    *ngSwitchCase="1"> HA SIDO PRESIONADO EL {{ mensaje }}</div>
  <div   class="presion"    *ngSwitchCase="2"> HA SIDO PRESIONADO EL {{ mensaje }}</div>
  <div   class="presion"    *ngSwitchDefault> HA SIDO PRESIONADO EL {{ mensaje }}</div>
</div>

