<div>
  <h3>operaciones de suma</h3>
  <input type="text" placeholder="raya1"[(ngModel)]="n1" name="n1">
  <input type="text"placeholder="raya2" [(ngModel)]="n2" name="n2">
  <button type="button" (click)="sumar()">Calcular</button>
  {{total}}
</div>
