

.btn1{
  padding: 15px 30px;
    border-radius: 10%;
    margin-right: 100%;
    color: white;
    background-color: green;
    font-size: 35px;


    


}
.btn2{
  background-color: red;
    color: white;
    padding: 15px 30px;
    border-radius: 10% ;
    margin-top: 15px;
    font-size: 35px; 
    

}

.alerta{
 
    font-size: 20px;
    display: block;
    padding: 0;
    margin: 0px auto;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    text-align: center;
}
.tamaño{
  font-size: 100px;
  border: 1px solid black;
  margin: 10px;
  padding-right: 100px;
  width: 35px;
  float: left;
  text-align: center;
}
.boton{
  display: block;
 
  
}
.pantalla{
  width: 50px;
  text-align: center;
  background-color: aqua;
}