<div class="cuadrado" *ngIf="mostrar">
  <h4>   {{NombreCompleto}} </h4>
  <h3>  {{Direccion}} </h3>
  </div>

  <div class="bonto1">
    <button type="button" class="btn" (click)="mostrar= !mostrar">Mostrar/ocultar</button>
  </div>

