<ul>
  <li><a [routerLink]="['INICIO']">INICIO</a></li>
  <li><a [routerLink]="['TEXTO']">TEXTO</a></li>
  <li><a [routerLink]="['GALERIA']">GALERIA</a></li>
  <li><a [routerLink]="['PRODUCTOS']">PRODUCTOS</a> </li>
  <li><a [routerLink]="['OFERTAS']">OFERTAS</a></li>
</ul>

<div>
  <p></p>
</div>

